<!DOCTYPE html>
<html>
<head>
	<title>Spinner Land</title>
	<meta charset="utf-8">
</head>
<body>
	<div class= container>
		<h1>Bienvenido a Spinner Land</h1>

		<h2>Nuestros Productos:</h2>
		<div class="lista">
		<button id=crear>Crear Producto</button>
			
		</div>
		<div class= "detalle">
			
		</div>
		<form class="nuevo">
			<input type="text" id="nombren">
			<input type="text" id="descripcionn">
			<input type="number" id="precion">
			<input type="text" id="imgUrln">
			<button id="crearNuevo">Crear</button>
		</form>	
		
	</div>



<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>

	